#
# Jnes message catalog - use this as a reference
#

[Information]
Language=English Example

[Strings]
jnes.ok=OK
jnes.cancel=Cancel
jnes.file=File
jnes.file.open=Open
jnes.file.info=Info
jnes.file.close=Close
jnes.file.recent=Recent
jnes.file.changedirectory=Change Directory
jnes.file.refreshdirectory=Refresh Directory
jnes.file.recentdirectories=Recent Directories
jnes.file.exit=Exit
jnes.file.capture=Capture
jnes.file.capture.image=Image
jnes.file.capture.sound=Sound
jnes.file.capture.movie=Movie
jnes.file.capture.record=Record
jnes.file.capture.stop=Stop
jnes.file.capture.play=Play
jnes.system=System
jnes.system.reset=Reset
jnes.system.pause=Pause
jnes.system.step=Step
jnes.system.save=Save
jnes.system.restore=Restore
jnes.system.saveas=Save As
jnes.system.restorefrom=Restore From
jnes.system.stateslot=Save Slot
jnes.system.region=Region
jnes.system.automatic=Automatic
jnes.system.default=Default
jnes.options=Options
jnes.options.fullscreen=Fullscreen
jnes.options.video=Video
jnes.options.audio=Audio
jnes.options.input=Input
jnes.options.kaillera=Kaillera
jnes.options.cheats=Cheats
jnes.options.settings=Settings
jnes.options.enabled=Enabled
jnes.options.stereo=Stereo
jnes.options.mixer=Mixer
jnes.options.graph=Graph
jnes.help=Help
jnes.help.contents=Contents
jnes.help.homepage=Homepage
jnes.help.about=About
jnes.list.name=Name
jnes.list.size=Size
jnes.list.mapper=Mapper
jnes.list.battery=Battery
jnes.list.yes=Yes
jnes.list.no=No
jnes.list.refresh=Refresh
jnes.list.changeartwork=Change Artwork
jnes.audio.mute=Mute
jnes.video.title=Video Configuration
jnes.video.display.title=Display
jnes.video.display.windowed=Windowed
jnes.video.display.fullscreen=Fullscreen
jnes.video.display.resolution=Resolution
jnes.video.display.drawingmethod=Drawing Method
jnes.video.display.verticalsync=Vertical Sync windowed display
jnes.video.display.stretch=Stretch to fill entire screen
jnes.video.display.triplebuffer=Triple Buffering with Vertical Sync
jnes.video.display.autofullscreen=Go full screen when rom is opened
jnes.video.emulation.title=Emulation
jnes.video.emulation.paletteframe=Palette
jnes.video.emulation.yuvpalette=YUV Palette
jnes.video.emulation.rgbpalette=RGB Palette
jnes.video.emulation.custompalette=Custom Palette (palettes subfolder)
jnes.input.title=Input Configuration
jnes.input.devices=Additional Devices:
jnes.input.connection=Connection:
jnes.input.layout=Joypad Layout
jnes.input.disconnected=Disconnected
jnes.input.joypad=Joypad
jnes.input.zapper=Zapper
jnes.input.autoconfig=Auto
jnes.input.setup=Setup
jnes.cheat.title=Cheats
jnes.cheat.add=Add
jnes.cheat.edit=Edit
jnes.cheat.remove=Remove
jnes.cheat.reset=Reset
jnes.cheat.notes=Selected Cheat Notes
jnes.cheat.modify=Right-click to modify, double-click multivalued cheats:
jnes.cheat.description=Description
jnes.cheat.gamegenie.codes=Codes
jnes.cheat.ext.info=The code you selected has the following extensions:
jnes.cheat.ext.title=Cheat Extension
jnes.settings.title=Settings
jnes.settings.savepath=Save Path
jnes.settings.autosavepath=Store saves in subfolder of program
jnes.settings.customsavepath=Store saves in the following location:
jnes.settings.screenshotspath=Screenshot Path
jnes.settings.autoscreenshotspath=Store screenshots in subfolder of program
jnes.settings.customscreenshotspath=Store screenshots in the following location:
jnes.settings.ips=Ask about IPS patching
jnes.settings.sleep=Sleep while emulation is in background
jnes.settings.associate=Associate .NES files with Jnes
jnes.settings.rombrowser=Rom Browser
jnes.settings.showstartup=Show startup dialog
jnes.settings.checkversion=Check for new versions
jnes.settings.language=Language
jnes.settings.browser.none=None
jnes.settings.browser.icon=Icon
jnes.settings.browser.artwork=Artwork
jnes.system.limitfps=Limit FPS
jnes.system.cheatsearch=Cheat Search
jnes.movie.select=Select
jnes.movie.avicaption=AVI File
jnes.movie.video=Video
jnes.movie.saveas=Save As
jnes.movie.start=Start
jnes.movie.title=Movie Playback
jnes.status.sorting=Sorting...
jnes.status.searching=Searching
jnes.status.recording=Recording
jnes.status.playing=Playing
jnes.status.complete=Complete
